html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  perspective: 800px;
  transform-origin: center center;
  overflow: hidden;
  transition: all 1s;
}
.face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}
.firepower-meter-container {
  position: absolute;
  opacity: 0.5;
  left: 20px;
  bottom: 20px;
  z-index: 300;
  overflow: hidden;
  width: 300px;
  height: 30px;
}
.firepower-meter-container .firepower-meter {
  display: block;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  background: linear-gradient(to right, #aa2222 0%, #e88325 21%, #00e207 60%, #ffffff 87%);
  /* W3C */
}
.announcement {
  opacity: 0;
  position: absolute;
  width: 100%;
  margin-top: 40vh;
  color: white;
  font-size: 12vh;
  text-align: center;
  font-family: arial, helvetica, sans serif;
  text-transform: uppercase;
  transition: opacity 0.5s;
}
.score-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.score-container .score {
  color: white;
  font-size: 8vh;
  font-family: arial, helvetica, sans serif;
}
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(359);
  }
}
.background {
  animation: spin 600s linear infinite;
}
@keyframes stars-animation-1 {
  0% {
    transform: rotateZ(90deg) translateZ(-300px);
  }
  100% {
    transform: rotateZ(90deg) translateZ(200px);
  }
}
@keyframes stars-animation-2 {
  0% {
    transform: rotateZ(180deg) translateZ(0px);
  }
  100% {
    transform: rotateZ(180deg) translateZ(800px);
  }
}
.stars {
  position: inherit;
  width: 1px;
  height: 1px;
  animation: stars-animation-1 60s linear infinite alternate;
  box-shadow: 3vw 1vh #ffdad0, 6vw 49vh #ffd6e7, 15vw -33vh #ffffff, 17vw -5vh #ffffff, 20vw 10vh #ffffff, 22vw 15vh #bbc3ff, 26vw 23vh #ffffff, 27vw -26vh #ffffff, 33vw 17vh #f1ffad, 38vw -2vh #ffd2a3, 41vw -9vh #ffffff, -2vw 2vh #ffffff, -24vw 45vh #dbffeb, -6vw 20vh #ffffff, -11vw 34vh #fff6c8, -18vw -40vh #ffffff, -33vw -23vh #b9cbff, -4vw 20vh #ffffff, -1vw 30vh #b0ffff;
}
.stars:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  box-shadow: 3vw 1vh #ffdad0, 6vw 49vh #ffd6e7, 15vw -33vh #ffffff, 17vw -5vh #ffffff, 20vw 10vh #ffffff, 22vw 15vh #bbc3ff, 26vw 23vh #ffffff, 27vw -26vh #ffffff, 33vw 17vh #f1ffad, 38vw -2vh #ffd2a3, 41vw -9vh #ffffff, -2vw 2vh #ffffff, -24vw 45vh #dbffeb, -6vw 20vh #ffffff, -11vw 34vh #fff6c8, -18vw -40vh #ffffff, -33vw -23vh #b9cbff, -4vw 20vh #ffffff, -1vw 30vh #b0ffff;
  transform: rotateZ(90deg);
}
.stars:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 1px;
  animation: stars-animation-2 60s linear infinite alternate;
  box-shadow: 3vw 1vh #ffdad0, 6vw 49vh #ffd6e7, 15vw -33vh #ffffff, 17vw -5vh #ffffff, 20vw 10vh #ffffff, 22vw 15vh #bbc3ff, 26vw 23vh #ffffff, 27vw -26vh #ffffff, 33vw 17vh #f1ffad, 38vw -2vh #ffd2a3, 41vw -9vh #ffffff, -2vw 2vh #ffffff, -24vw 45vh #dbffeb, -6vw 20vh #ffffff, -11vw 34vh #fff6c8, -18vw -40vh #ffffff, -33vw -23vh #b9cbff, -4vw 20vh #ffffff, -1vw 30vh #b0ffff;
  transform: rotateZ(180deg);
}
@keyframes planet-animation {
  0% {
    transform: translateZ(0px);
  }
  100% {
    transform: translateZ(300px);
  }
}
.planet {
  position: absolute;
  z-index: 1;
  top: -25vw;
  left: -75vw;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #111;
  animation: planet-animation 60s linear infinite alternate;
  box-shadow: inset 0 0 50px #ffffff, inset 20px 0 80px #ff00ff, inset -20px 0 80px #00ffff, inset 20px 0 300px #ff00ff, inset -20px 0 300px #00ffff, 0 0 50px #ffffff, -10px 0 80px #ff00ff, 10px 0 80px #00ffff;
}
/**
 * The ship
 */
.ship-container {
  position: inherit;
  z-index: 50;
}
.ship {
  border: 0.15vw solid #0000ff;
  box-shadow: inset 0 0 10px #0000ff, 0px 0px 10px 0px #0000ff;
}
.hull {
  width: 2.5vw;
  height: 10vw;
  margin: -5vw -1.25vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.hull.top {
  transform-origin: top center;
  transform: rotateX(5deg);
}
.hull.bottom {
  transform-origin: top center;
  transform: rotateX(-5deg);
}
.hull.back {
  margin: 4.1127326vw -1.25vw;
  height: 1.73648178vw;
  transform-origin: center center;
  transform: rotateX(90deg);
}
/*
// does not work for some reason
.generate-booster-animation(@name, @color) {
  .keyframe(@n, @i: 0) when (@i =< @n) {
    @percentage: percentage(@i/10);
    @{percentage} {
      @random: `Math.random()`;
      @fade: percentage(@random);
      background-color: fade(@color, @fade);
      width: @fade;
    }
    .keyframe(@n, (@i + 1));
  }

  @keyframes @name {
    .keyframe(10);
  }
}
.generate-booster-animation(booster-amination-1, white);
.generate-booster-animation(booster-amination-2, red);
.generate-booster-animation(booster-amination-3, orange);*/
.booster {
  width: 1.5vw;
  height: 1.5vw;
  margin: 4.23097349vw -0.75vw;
  border-radius: 50% 50%;
  transform: rotateX(90deg);
  animation: booster-animation-1 10s infinite;
}
.booster:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.35vw;
  height: 1.35vw;
  margin: -0.075vw;
  border-radius: 50% 50%;
  transform: translateZ(0.4vw);
}
.booster:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.65vw;
  height: 1.65vw;
  margin: -0.225vw;
  border-radius: 50% 50%;
  border: 0.15vw solid #9999ff;
  transform: translateZ(-0.4vw);
}
.wing {
  width: 20vw;
  height: 5vw;
  margin: 0 -10vw;
  border-radius: 50% 50% 0 0;
  border-width: 0.3vw;
  border-bottom-width: 0.15vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.wing.top {
  transform-origin: top center;
  transform: rotateX(5deg);
}
.wing.bottom {
  transform-origin: top center;
  transform: rotateX(-5deg);
}
.wing.back {
  border-width: 0.15vw;
  margin: 4.69155986vw -10vw;
  height: 0.86824089vw;
  transform-origin: center center;
  transform: rotateX(90deg);
  border-radius: 0;
}
.gun {
  width: 0.1vw;
  height: 2vw;
}
.gun.right {
  margin: -1vw 5vw;
}
.gun.left {
  margin: -1vw -5vw;
}
/**
 * The track
 */
.track-container {
  position: inherit;
  z-index: 10;
  transform-style: preserve-3d;
}
.track {
  opacity: 0;
  width: 60vw;
  height: 600px;
  margin: -300px -30vw;
  border: 8px solid #008000;
  box-shadow: inset 0 0 30px #008000, 0px 0px 30px 0px #008000;
  border-left-width: 2.66666667px;
  border-right-width: 2.66666667px;
}
.track:before {
  content: '';
  position: absolute;
  width: 20vw;
  height: 600px;
  border-left: 2.66666667px solid #008000;
  border-right: 2.66666667px solid #008000;
  box-shadow: inset 0 0 30px #008000, 0px 0px 30px 0px #008000;
  left: 20vw;
}
.track:after {
  content: '';
  position: absolute;
  width: 60vw;
  height: 200px;
  border-top: 8px solid #008000;
  border-bottom: 8px solid #008000;
  box-shadow: inset 0 0 30px #008000, 0px 0px 30px 0px #008000;
  top: 200px;
}
@keyframes track-animation-top {
  0% {
    opacity: 0;
    transform: translateY(-15vw) translateZ(-2000px) rotateX(90deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-15vw) translateZ(1000px) rotateX(90deg);
  }
}
@keyframes track-animation-bottom {
  0% {
    opacity: 0;
    transform: translateY(15vw) translateZ(-2000px) rotateX(90deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(15vw) translateZ(1000px) rotateX(90deg);
  }
}
.track.top:nth-child(1) {
  animation: track-animation-top 3s linear 0s infinite normal;
}
.track.bottom:nth-child(1) {
  animation: track-animation-bottom 3s linear 0s infinite normal;
}
.track.top:nth-child(2) {
  animation: track-animation-top 3s linear 0.6s infinite normal;
}
.track.bottom:nth-child(2) {
  animation: track-animation-bottom 3s linear 0.6s infinite normal;
}
.track.top:nth-child(3) {
  animation: track-animation-top 3s linear 1.2s infinite normal;
}
.track.bottom:nth-child(3) {
  animation: track-animation-bottom 3s linear 1.2s infinite normal;
}
.track.top:nth-child(4) {
  animation: track-animation-top 3s linear 1.8s infinite normal;
}
.track.bottom:nth-child(4) {
  animation: track-animation-bottom 3s linear 1.8s infinite normal;
}
.track.top:nth-child(5) {
  animation: track-animation-top 3s linear 2.4s infinite normal;
}
.track.bottom:nth-child(5) {
  animation: track-animation-bottom 3s linear 2.4s infinite normal;
}
.track.top:nth-child(6) {
  animation: track-animation-top 3s linear 3s infinite normal;
}
.track.bottom:nth-child(6) {
  animation: track-animation-bottom 3s linear 3s infinite normal;
}
.shot {
  display: none;
  position: absolute;
  z-index: 25;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 30px 15px #ffffff, /* inner white */ 0 0 50px 30px rgba(255, 0, 255, 0.62), /* middle magenta */ 0 0 70px 45px rgba(0, 255, 255, 0.53);
  /* outer cyan */
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(359deg);
  }
}
.alien-container {
  display: none;
  position: inherit;
  z-index: 20;
}
.alien {
  border: 0.15vw solid #ffa500;
  box-shadow: inset 0 0 10px #ffa500, 0px 0px 10px 0px #ffa500;
  background-color: rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.5s, opacity 0.5s 0.2s;
}
.red .alien,
.red .mouth:before,
.red .mouth:after {
  border: 0.15vw solid #ff2e53;
  box-shadow: inset 0 0 10px #ff2e53, 0px 0px 10px 0px #ff2e53;
}
.blue .alien,
.blue .mouth:before,
.blue .mouth:after {
  border: 0.15vw solid #3183ff;
  box-shadow: inset 0 0 10px #3183ff, 0px 0px 10px 0px #3183ff;
}
.green .alien,
.green .mouth:before,
.green .mouth:after {
  border: 0.15vw solid #adff2f;
  box-shadow: inset 0 0 10px #adff2f, 0px 0px 10px 0px #adff2f;
}
.white .alien,
.white .mouth:before,
.white .mouth:after {
  border: 0.15vw solid #ffffff;
  box-shadow: inset 0 0 10px #ffffff, 0px 0px 10px 0px #ffffff;
}
.hit .alien {
  box-shadow: inset 0 0 10px #ffdb99, 0px 0px 100px 50px #ffdb99;
  border-color: white;
  opacity: 0;
}
.body {
  width: 7vw;
  height: 7vw;
  margin: -3.5vw -3.5vw;
}
.eye {
  width: 2vw;
  height: 0.5vw;
  margin-top: -0.5vw;
}
.eye.left {
  margin-left: -2.5vw;
  transform: rotateZ(45deg);
}
.eye.right {
  margin-left: 0.75vw;
  transform: rotateZ(-45deg);
}
.mouth {
  width: 0.7vw;
  height: 0.7vw;
  margin-left: -0.2vw;
  margin-top: 1.4vw;
  animation: mouth-animation 0.5s 0.2s infinite alternate;
}
.mouth:before {
  content: '';
  position: absolute;
  width: 0.7vw;
  height: 0.7vw;
  margin-top: 0.7vw;
  margin-left: -1.5vw;
  animation: mouth-animation 0.5s 0s infinite alternate;
  border: 0.15vw solid #ffa500;
  box-shadow: inset 0 0 10px #ffa500, 0px 0px 10px 0px #ffa500;
  background-color: rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.5s, opacity 0.5s 0.2s;
}
.mouth:after {
  content: '';
  position: absolute;
  width: 0.7vw;
  height: 0.7vw;
  margin-top: 0.7vw;
  margin-left: 1.275vw;
  animation: mouth-animation 0.5s 0.4s infinite alternate;
  border: 0.15vw solid #ffa500;
  box-shadow: inset 0 0 10px #ffa500, 0px 0px 10px 0px #ffa500;
  background-color: rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.5s, opacity 0.5s 0.2s;
}
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
.arm-container {
  animation: spin 8s linear infinite;
}
.arm {
  width: 0.5vw;
  height: 15vw;
}
.arm.left {
  transform-origin: top center;
  transform: translateZ(-10px) rotateZ(-120deg) translateY(2vw) rotateX(-50deg);
}
.arm.right {
  transform-origin: top center;
  transform: translateZ(-10px) rotateZ(120deg) translateY(2vw) rotateX(-50deg);
}
.arm.bottom {
  transform-origin: top center;
  transform: translateZ(-10px) translateY(2vw) rotateX(-50deg);
}
